---
import { playlists } from '@/lib/data'
import Layout from '@/layouts/Layout.astro'
import PlayListItemCard from '@/components/astro/PlayListItemCard.astro'

// Simple greeting logic
const currentTime = new Date()
const currentHour = currentTime.getHours()

let greeting = ""
if(currentHour < 12) {
  greeting = "Buenos días"
} else if(currentHour < 18) {
  greeting = "Buenas tardes"
} else {
  greeting = "Buenas noches"
}
---

<Layout title='Astro Spotify Clone'>
  <div
    id='playlist-container'
    class='sm:relative sm:transition-all sm:duration-1000 sm:bg-green-600'
  >
    <div class='sm:relative sm:z-10 sm:px-6 px-3'>
      <div class='sm:pt-5 sm:mb-0 sm:mt-0 mt-5'>
        <h1 class="text-3xl font-bold text-white">{greeting}</h1>
      </div>
      <div class='flex flex-col mt-6 gap-4 sm:flex-wrap sm:flex-row'>
        {playlists.map((playlist) => <PlayListItemCard playlist={playlist} />)}
      </div>
    </div>

    <div class='sm:absolute sm:inset-0 sm:bg-gradient-to-t sm:from-zinc-900 sm:via-zinc-900/80'>
    </div>
  </div>
</Layout>

<style></style>
